<div class="container">
    <h1>Welcome to Super TO-DO-LIST</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, sunt quod? Recusandae dolores, nihil tempora illo molestiae commodi necessitatibus voluptas dolorum exercitationem temporibus, odit inventore maxime neque atque, molestias repellendus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, sunt quod? Recusandae dolores, nihil tempora illo molestiae commodi necessitatibus voluptas dolorum exercitationem temporibus, odit inventore maxime neque atque, molestias repellendus.</p>

    <a href="/todolist">Vai alla TO-DO-LIST</a>
</div>