<header>
    <mat-toolbar color="primary"> <!--'primary' è deep-purple mentre 'accent' è amber-->
      <button mat-icon-button (click)="menuClick()" *ngIf="!(router.url === '/welcome')">
        <mat-icon>menu</mat-icon>
        <!--<mat-icon (click)="onMenuClicked.emit()">menu</mat-icon>       si può utilizzare la funzione menuClick() o direttamente l'event onMenuClicked().emit--> 
      </button>
        <span>TO-DO-LIST</span>
        <span class="spacer"></span>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</header>

<!--NB LE ICONS VENGONO PRESE DA GOOGLE FONTS - MATERIAL ICONS E VENGONO CHIAMATE DIRETTAMENTE DENTRO AL TAG <MAT-ICON> CON IL LORO NOME SENZA BISOGNO DI UN LINK-->
