
.container{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding:10px;
  margin: 4px;
  box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
}


.task-name{
  padding: 2px;
  font-size: large;
  font-weight: bold;
}
